In [1]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append('..')  

import main
import params
import pandas as pd

from ml_logic import data

In [2]:
#processed_data = data.ElecConsumDataPreprocessingTransformer().clean_data()
#processed_data = data.GasConsumDataPreprocessingTransformer().clean_data()
#processed_data = data.PopulationDataPreprocessingTransformer().clean_data()
#processed_data = data.VehicleDataPreprocessingTransformer().clean_data()
processed_data = data.combine_clean_data()
# processed_data = main.main()

print(processed_data)

              planning_area    2005    2006    2007    2008    2009    2010  \
0    Ang Mo Kio_electricity    5311    5438    5400    5423    5879    5914
1            Ang Mo Kio_gas    4060    3996    3946    4039    4044    3915
2     Ang Mo Kio_population  170120  171790  173360  175840  179970  179920
3        Ang Mo Kio_vehicle   35569   35569   35569   35569   35569   30778
4         Bedok_electricity   20640   20734   20630   19983   21013   21995
..                      ...     ...     ...     ...     ...     ...     ...
215       Woodlands_vehicle   45222   45222   45222   45222   45222   61909
216      Yishun_electricity    1871    1915    2159    2144    2310    2416
217              Yishun_gas    3521    3502    3496    3536    3511    3460
218       Yishun_population  175230  175800  178250  181060  185000  185810
219          Yishun_vehicle   43726   43726   43726   43726   43726   38440

       2011    2012    2013    2014    2015    2016    2017    2018    2019  \
0      5784    5995    6167    6411    6649    9090    8909   18123   18070
1      3988    4074    4015    3971    3929    3832    3904    3773    3637
2    179510  179850  179590  178890  175660  171460  167810  166580  164970
3     30778   30778   30778   30778   31800   31800   31800   31800   31800
4     21072   21553   21893   22349   23260   30144   28623   39286   39717
..      ...     ...     ...     ...     ...     ...     ...     ...     ...
215   61909   61909   61909   61909   56200   56200   56200   56200   56200
216    2412    2488    2641    2786    3287    8925    9017   21461   22839
217    3484    3505    3569    3824    4091    4099    4391    4275    4263
218  186100  187830  188790  193420  202730  206550  211150  215660  220990
219   38440   38440   38440   38440   36500   36500   36500   36500   36500

       2020    2021
0     19894   19662
1      4598    4027
2    163460  160030
3     24560   24560
4     43273   43034
..      ...     ...
215   49665   49665
216   25529   25385
217    5585    4916
218  222590  220000
219   38155   38155

[220 rows x 18 columns]

In [3]:
processed_data.dtypes

planning_area    object
2005              int64
2006              int64
2007              int64
2008              int64
2009              int64
2010              int64
2011              int64
2012              int64
2013              int64
2014              int64
2015              int64
2016              int64
2017              int64
2018              int64
2019              int64
2020              int64
2021              int64
dtype: object

In [4]:
processed_data.head()

,planning_area,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Ang Mo Kio_electricity,5311,5438,5400,5423,5879,5914,5784,5995,6167,6411,6649,9090,8909,18123,18070,19894,19662
1,Ang Mo Kio_gas,4060,3996,3946,4039,4044,3915,3988,4074,4015,3971,3929,3832,3904,3773,3637,4598,4027
2,Ang Mo Kio_population,170120,171790,173360,175840,179970,179920,179510,179850,179590,178890,175660,171460,167810,166580,164970,163460,160030
3,Ang Mo Kio_vehicle,35569,35569,35569,35569,35569,30778,30778,30778,30778,30778,31800,31800,31800,31800,31800,24560,24560
4,Bedok_electricity,20640,20734,20630,19983,21013,21995,21072,21553,21893,22349,23260,30144,28623,39286,39717,43273,43034